body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 200px;
    padding-right: 15px;
    padding-bottom: 150px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,  
select,
textarea {
    max-width: 280px;


}

footer {
    position: relative;
    left: 0;
    bottom:0;
    width:100%;
    font-size:20px;
    text-align:center;
    text-size-adjust:none;
    background-color: #2874f0;
    color: #FFFFFF;
    padding: 30px;
   
}
