@model GamingStore.Models.Productos
@{
    ViewBag.Title = "Editar";
}
<style>
    form button{

        height:70px;
        width:140px;
        



    }
    form input{

        display:inline-block;
        padding:10px;
        margin:10px;
        text-decoration:none;


    }


</style>

<h2>Editar</h2>


<form action="/Productos/EditarProducto/" method="post">

    <input type="hidden" name="Productos.idProductos"/>
    <input type="text" name="Nombre" value=@Model.Nombre placeholder="Nombre" /><br />
    <input type="text" name="Descripcion" value=@Model.Descripcion placeholder="Descripcion" /><br />
    <input type="text" name="Precio" value=@Model.Precio} placeholder="Precio" /><br />
    <input type="text" name="Categoria" value="@Model.Categorias" placeholder="Nombre" /><br />
    <button type="submit" name="btneditar" onclick="EditarProducto()"> Editar Producto</button>
</form>


